@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap");

/* for whole documents */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* for hide scroll bar */
::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #14219a, transparent 70%),
    /* Diagonal from top-left */
      linear-gradient(-45deg, #1b4985, transparent 70%),
    /* Diagonal from top-right */
      linear-gradient(135deg, #4577db, transparent 70%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid navy;

  margin: 0 400px;
  min-width: 500px;
  max-width: 1200px;
  background: linear-gradient(45deg, #50a6d2, transparent 70%),
    /* Diagonal from top-left */
      linear-gradient(-45deg, #1b4b85, transparent 70%),
    /* Diagonal from top-right */
      linear-gradient(135deg, #4f45db, transparent 70%);
  border-radius: 20px;

  padding: 20px;
}
/* header */

.container header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

header h1 {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
  letter-spacing: 1px;
  word-spacing: 5px;
}

/* input-section */

header .input-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
}

.input-section input {
  margin-right: 10px;
  max-width: 100%;
}
.max-w-xs {
  max-width: 20rem;
}
.w-full {
  width: 100%;
}

.input {
  border-radius: 0.5rem;
  height: 3rem;
  border-width: 2px black solid;
  flex-shrink: 1;
  padding: 0rem 1rem;
  font-size: 1.2rem;
  line-height: 2;
  opacity: 0.8;
}

/* todofilters */

.todos-filter,
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  /* margin-bottom: 10px; */
}
.todos-filter {
  padding-top: 15px;
}
.filters {
  /* margin-top: 10px; */
  margin: 10px 15px 20px 25px;
}

.completed-task {
  background-image: linear-gradient(
    125deg,
    rgba(133, 189, 103, 0.562),
    rgba(24, 160, 38, 0.618),
    rgba(24, 160, 56, 0.618)
  );
  padding: 10px 16px;
  font-size: 18px;
  color: white;
  border-radius: 3px;
}
.remaining-task {
  background-image: linear-gradient(130deg, white, #62899c);
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 3px;
}
.todos-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  max-height: 54vh;
  overflow-y: scroll;
  width: 100%;
  /* overflow: hidden; */
  border: 2px dashed navy;
  border-radius: 12px;
  /* margin: 5px; */
  padding: 5px;
}

.todos-list .todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.todo-item {
  background-color: rgba(245, 222, 179, 0.699);
  border-radius: 12px;
  margin-bottom: 5px;
}

.todo-item p {
  margin-right: 10px;
  font-size: 1.4rem;
  width: 70%;
  word-wrap: break-word; /* Allows long words to wrap onto the next line */
  word-break: break-word; /* Ensures long words will break and wrap correctly */
  overflow: hidden;
  /* overflow-y: scroll; */
}

.todo-item .todo-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 10%;
  height: 100%;
}

.todo-actions button:not(:last-child) {
  margin-right: 10px;
}

.di,
.ci {
  pointer-events: none;
}

.line {
  text-decoration: line-through;
}

/*buttons styling*/
.btn {
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 0.5rem;
  height: 3rem;
  min-height: 3rem;
  text-transform: uppercase;
  border-width: 1px;
  animation: button-pop var(--animation-btn, 0.25s) ease-in-out;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1em;
  text-decoration-line: none;
  transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
}

.btn:hover {
  background-color: rgb(108, 109, 110);
  color: white;
}

.btn-add {
  background-color: green;
  color: white;
}
.btn-add:hover {
  background-color: white;
  color: green;
}

.btn-success {
  opacity: 1;
  background-color: rgb(50, 177, 50);
  color: white;
}

.btn-success:hover {
  background-color: white;
  color: rgb(50, 177, 50);
}

.btn-error {
  opacity: 1;
  background-color: rgb(246, 77, 4);
  color: white;
}
.btn-error:hover {
  background-color: white;
  color: rgb(246, 77, 4);
}
/*
dropdown*/
.dropbtn {
  background-image: linear-gradient(135deg, #d2c1e1, #8e2de2, #4a00e0);
  color: white;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;

  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #a5902a;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
  color: #000;
}
.todo-item:hover {
  cursor: pointer;
}
.todo-item:focus {
  border: 1px solid navy;
  cursor: pointer;
  /* transition: 1s; */
}
/* Responsive */
@media only screen and (max-width: 530px) {
  .container {
    margin: 0 20px;
    max-width: 96%;
    min-width: 96%;
  }
}
